@page "/"
@using NetcodeHub.Packages.Extensions.Clipboard
@using UrlShortner.Services
@inject IUrlServices urlService
@inject IClipboardService clipboardService
@rendermode InteractiveServer
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Url Shortner
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html"> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="job.html">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="freelancer.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    Login
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    Sign Up
                                </span>
                            </a>
                        </li>
                        <form class="form-inline">
                            <button class="btn   nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-7 col-md-8 mx-auto">
                    <div class="detail-box">
                        <h1>
                            Short your URLs
                        </h1>
                        <p>
                            Create efficient and customizable URL shorteners with Blazor WebAssembly, offering fast, modern, and lightweight solutions for your web applications. Enhance user experience with seamless performance and sleek design
                        </p>
                    </div>
                </div>
            </div>
            <div class="find_container ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-row ">
                                    <div class="form-group col-lg-5">

                                        <input type="text" class="form-control" @bind="LongUrl" placeholder="Long url">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <div class="d-flex justify-content-around">
                                            <input type="text"
                                            class="form-control txtbox" disabled
                                            style="border-bottom-right-radius: 0; border-top-right-radius: 0"
                                            placeholder="Your short url" aria-label="Your short url"
                                            aria-describedby="basic-addon2" value="@Value"/>
                                            <span class="input-group-text copy" id="basic-addon2">
                                                @if(!Copied){
                                                    <i class="fa fa-cpoy text-info" style="cursor:pointer" title="Copy" @onclick=CopyBtnClicked></i>
                                                }else{
                                                    <span class="text-success"><i class="fa fa-check" title="Copied"></i>Copied</span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="btn-box">
                                            <button type="submit" class="btn" @onclick=ShortenUrlBtnClicked>Shorten your url</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>


<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> Made by Fabiano G. D. Bortolussi
        </p>
    </div>
</footer>
<!-- footer section -->
<style>
    .copy{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    }

    .txtbox{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: auto;
    }

</style>

@code{
    bool Copied = false;
    string Value = string.Empty;
    string LongUrl = string.Empty;

    async Task CopyBtnClicked(){
        if(Value.Equals("Invalid Url Provided") || string.IsNullOrEmpty(Value)){
            Value = "Nothing to be Copied";
            Copied = false;
            return;
        }

        await clipboardService.CopyAsync(Value);
        Copied = true;
    }

    async Task ShortenUrlBtnClicked(){
        Value = string.Empty;
        Copied = false;
        if(string.IsNullOrEmpty(LongUrl)){
            return;
        }

        string? shortcode = await urlService.ShortenUrlAsync(LongUrl)!;
        if(string.IsNullOrEmpty(shortcode)){
            Value = "Invalid Url Provided";
            return;
        }

        Value = shortcode;
    }
}